<h1>RouterService + default QueryParams</h1>

<p>
  <code>RouterService.transitionTo()</code> doesn't take into account default <code> queryParams </code> values which triggers a model refresh on the parent route.
</p>


<a
  href="javascript:;"
  onclick={{action "transitionWithRouterService"}}
>
  RouterService.transitionTo('in')
</a>


{{outlet}}
